%div.container
  %div.row
    %div.span9
      %h2 #{@article.title}
      %h4 Written by #{@article.author} on #{@article.published_at.strftime("%B %d, %Y")}
      - if !@article.summary.nil?
        = @article.summary.html_safe
      - elsif !@article.content.nil?
        = @article.content.html_safe
      - if signed_in?
        - if current_user.favorite_list.articles.exists?(@article.id)
          %p= link_to "Delete from Favorite", remove_article_user_favorite_list_path(current_user, @article), :class => "btn"
        - else
          %p= link_to "Add to Favorite", add_article_user_favorite_list_path(current_user, @article), :class => "btn"
    %div.span3
      = render :partial => "shared/right_column"
