%div.container
  %div.row
    %div.span9
      %div.well
        %h2 #{@article.title}
        %h4 Written by #{@article.author} on #{@article.published_at.strftime("%B %d, %Y")}
        - @content.each do |paragraph|
          = paragraph.html_safe
    %div.span3
      %div.well
        - if signed_in?
          = link_to "Add to Favorites", add_article_user_favorite_list_path(current_user, @article), :class => "btn btn-inverse btn-block"
      = render :partial => "shared/right_column"
