%div.container
  %div.row
    %div.span9
      %table.table
        %tr
          %td.span2
            = image_tag ('/assets/emptyprofile.png'), :class => "img-polaroid"
          %td.span7
            = form_for(@user) do |f|
              = render :partial => "shared/signup_errors"
              = render :partial => "signup_edit_form", :locals => { :f => f }
              %p= f.submit "Save Changes", :class => "pull-right btn btn-inverse"
