%div.container
  %div.row
    %div.span9
      - if !@news_list.articles.empty?
        %div.offset1.span5.well
          %h5 Current articles in your NewsList
          - @news_list.articles.each do |article|
            %p
              = article.title
              = link_to "Delete Article", remove_article_user_news_list_path(@user, @news_list, article_id: article.id)
      = form_for(@news_list, :url => user_news_list_path(@user), :html => { :class => "offset1 span6" }) do |f|
        = render :partial => "newslist_errors"
        = f.label :name
        = f.text_field :name, :class => "input-block-level"
        = link_to "Back to Profile Page", user_path(@user), :class => "pull-left btn btn-inverse"
        %p= f.submit "Save Changes", :class => "pull-right btn btn-inverse"
    %div.span3
      = render :partial => "shared/right_column"
