!!! 5
%html
  %head
    %title NewsReader
    %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1.0"}
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %div.navbar.navbar-inverse.navbar-fixed-top
      %div.navbar-inner
        %div.container
          = link_to "NEWSREADER DIGEST", "/", :class => "brand"
          %ul.nav.pull-right
            - if signed_in?
              = link_to image_tag('/assets/emptyprofile.png'), current_user, :class => "pictureHeader"
              %li= link_to current_user.name, current_user 
              %li= link_to "Log Out", signout_path, :method => "DELETE"
            - else
              %li= link_to "Log In", signin_path
              %li= link_to "Sign Up", signup_path
    - if flash[:success] or flash[:notice]
      %div.container
        %div.row
          %div.span12
            %div.alert
              %strong= flash[:success]
              %strong= flash[:notice]
    = yield
